# Relatório Análise VI

In [49]:
import pandas as pd

In [50]:
dados = pd.read_csv('aluguel_residencial.csv', sep=";")

In [51]:
dados.head(10)

   Unnamed: 0                Tipo  ... Condominio  IPTU
0           0           Quitinete  ...      500.0  60.0
1           1                Casa  ...        0.0   0.0
2           2         Apartamento  ...      390.0  20.0
3           3         Apartamento  ...      230.0   0.0
4           5         Apartamento  ...      301.0  17.0
5           6  Casa de Condomínio  ...        0.0   0.0
6           7  Casa de Condomínio  ...        0.0   0.0
7           9         Apartamento  ...      642.0  74.0
8          10         Apartamento  ...      455.0  14.0
9          11         Apartamento  ...      561.0  50.0

[10 rows x 10 columns]

In [52]:
dados['Valor Bruto'] = dados["Valor"] + dados["Condominio"] + dados["IPTU"]

In [53]:
dados.head(10)

   Unnamed: 0                Tipo  ...  IPTU  Valor Bruto
0           0           Quitinete  ...  60.0       2260.0
1           1                Casa  ...   0.0       7000.0
2           2         Apartamento  ...  20.0       1210.0
3           3         Apartamento  ...   0.0       1030.0
4           5         Apartamento  ...  17.0       1618.0
5           6  Casa de Condomínio  ...   0.0      22000.0
6           7  Casa de Condomínio  ...   0.0       1000.0
7           9         Apartamento  ...  74.0       2216.0
8          10         Apartamento  ...  14.0       1969.0
9          11         Apartamento  ...  50.0       2611.0

[10 rows x 11 columns]

In [54]:
dados.columns = ["Erro", "Tipo", "Bairro", "Quartos", "Vagas", "Suites", "Area", "Valor", "Condomínio", "IPTU", "Valor Bruto"]

In [55]:
dados.head(10)

   Erro                Tipo               Bairro  ...  Condomínio  IPTU  Valor Bruto
0     0           Quitinete           Copacabana  ...       500.0  60.0       2260.0
1     1                Casa      Jardim Botânico  ...         0.0   0.0       7000.0
2     2         Apartamento               Centro  ...       390.0  20.0       1210.0
3     3         Apartamento         Higienópolis  ...       230.0   0.0       1030.0
4     5         Apartamento             Cachambi  ...       301.0  17.0       1618.0
5     6  Casa de Condomínio      Barra da Tijuca  ...         0.0   0.0      22000.0
6     7  Casa de Condomínio                Ramos  ...         0.0   0.0       1000.0
7     9         Apartamento               Grajaú  ...       642.0  74.0       2216.0
8    10         Apartamento  Lins de Vasconcelos  ...       455.0  14.0       1969.0
9    11         Apartamento           Copacabana  ...       561.0  50.0       2611.0

[10 rows x 11 columns]

In [56]:
dados.drop(columns=["Erro"], axis = 1, inplace=True)

In [57]:
dados["Valor m2"] = dados["Valor"] / dados["Area"]

In [58]:
dados.head(10)

                 Tipo               Bairro  ...  Valor Bruto   Valor m2
0           Quitinete           Copacabana  ...       2260.0  42.500000
1                Casa      Jardim Botânico  ...       7000.0  70.000000
2         Apartamento               Centro  ...       1210.0  53.333333
3         Apartamento         Higienópolis  ...       1030.0  16.666667
4         Apartamento             Cachambi  ...       1618.0  26.000000
5  Casa de Condomínio      Barra da Tijuca  ...      22000.0  29.333333
6  Casa de Condomínio                Ramos  ...       1000.0  15.384615
7         Apartamento               Grajaú  ...       2216.0  21.428571
8         Apartamento  Lins de Vasconcelos  ...       1969.0  16.666667
9         Apartamento           Copacabana  ...       2611.0  50.000000

[10 rows x 11 columns]

In [59]:
dados["Valor Bruto m2"] = (dados["Valor"] / dados["Area"]).round(2)

In [60]:
dados.head(10)

                 Tipo               Bairro  ...   Valor m2  Valor Bruto m2
0           Quitinete           Copacabana  ...  42.500000           42.50
1                Casa      Jardim Botânico  ...  70.000000           70.00
2         Apartamento               Centro  ...  53.333333           53.33
3         Apartamento         Higienópolis  ...  16.666667           16.67
4         Apartamento             Cachambi  ...  26.000000           26.00
5  Casa de Condomínio      Barra da Tijuca  ...  29.333333           29.33
6  Casa de Condomínio                Ramos  ...  15.384615           15.38
7         Apartamento               Grajaú  ...  21.428571           21.43
8         Apartamento  Lins de Vasconcelos  ...  16.666667           16.67
9         Apartamento           Copacabana  ...  50.000000           50.00

[10 rows x 12 columns]

In [61]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [62]:
dados['Tipo Agregado'] = dados["Tipo"].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [63]:
dados.head(10)

                 Tipo               Bairro  ...  Valor Bruto m2  Tipo Agregado
0           Quitinete           Copacabana  ...           42.50    Apartamento
1                Casa      Jardim Botânico  ...           70.00           Casa
2         Apartamento               Centro  ...           53.33    Apartamento
3         Apartamento         Higienópolis  ...           16.67    Apartamento
4         Apartamento             Cachambi  ...           26.00    Apartamento
5  Casa de Condomínio      Barra da Tijuca  ...           29.33           Casa
6  Casa de Condomínio                Ramos  ...           15.38           Casa
7         Apartamento               Grajaú  ...           21.43    Apartamento
8         Apartamento  Lins de Vasconcelos  ...           16.67    Apartamento
9         Apartamento           Copacabana  ...           50.00    Apartamento

[10 rows x 13 columns]

## Excluindo Variáveis

In [64]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [65]:
dados_aux

      Tipo Agregado   Valor m2  Valor Bruto  Valor Bruto m2
0       Apartamento  42.500000       2260.0           42.50
1              Casa  70.000000       7000.0           70.00
2       Apartamento  53.333333       1210.0           53.33
3       Apartamento  16.666667       1030.0           16.67
4       Apartamento  26.000000       1618.0           26.00
...             ...        ...          ...             ...
21821   Apartamento  12.857143       1438.0           12.86
21822   Apartamento  29.629630       1175.0           29.63
21823   Apartamento  23.076923       2640.0           23.08
21824   Apartamento  29.166667       1946.0           29.17
21825   Apartamento  42.857143       3760.0           42.86

[21826 rows x 4 columns]

In [66]:
del dados_aux['Valor Bruto']

In [67]:
dados_aux

      Tipo Agregado   Valor m2  Valor Bruto m2
0       Apartamento  42.500000           42.50
1              Casa  70.000000           70.00
2       Apartamento  53.333333           53.33
3       Apartamento  16.666667           16.67
4       Apartamento  26.000000           26.00
...             ...        ...             ...
21821   Apartamento  12.857143           12.86
21822   Apartamento  29.629630           29.63
21823   Apartamento  23.076923           23.08
21824   Apartamento  29.166667           29.17
21825   Apartamento  42.857143           42.86

[21826 rows x 3 columns]

In [70]:
dados_aux.pop('Valor Bruto m2')

0        42.50
1        70.00
2        53.33
3        16.67
4        26.00
         ...
21821    12.86
21822    29.63
21823    23.08
21824    29.17
21825    42.86
Name: Valor Bruto m2, Length: 21826, dtype: float64

In [71]:
dados_aux

      Tipo Agregado   Valor m2
0       Apartamento  42.500000
1              Casa  70.000000
2       Apartamento  53.333333
3       Apartamento  16.666667
4       Apartamento  26.000000
...             ...        ...
21821   Apartamento  12.857143
21822   Apartamento  29.629630
21823   Apartamento  23.076923
21824   Apartamento  29.166667
21825   Apartamento  42.857143

[21826 rows x 2 columns]

In [73]:
dados_aux.drop(['Valor m2'], axis = 1)

      Tipo Agregado
0       Apartamento
1              Casa
2       Apartamento
3       Apartamento
4       Apartamento
...             ...
21821   Apartamento
21822   Apartamento
21823   Apartamento
21824   Apartamento
21825   Apartamento

[21826 rows x 1 columns]

In [74]:
dados.to_csv('aluguel_residencial.csv', sep = ";", index = False)